{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "VIEWS_TABLES_CONNECTION": "UseDevelopmentStorage=true"
  }
}
